.section {
  width: 70vw;
  min-height: 200px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.5rem 1rem rgb(247 39 3 / 19%),
    0 0.3rem 0.3rem rgb(0 0 16 / 23%);
  background-color: rgb(255, 255, 255);

  background: wheat;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
}
